<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HashTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HashTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HashTool.Properties.Settings>
            <setting name="SelectedHashAlgorithm" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>CRC32</string>
                        <string>MD4</string>
                        <string>MD5</string>
                        <string>SHA1</string>
                        <string>SHA256</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsLowerCase" serializeAs="String">
                <value>False</value>
            </setting>
        </HashTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HashTool.Properties.Settings>
            <setting name="LatestVersionUrl" serializeAs="String">
                <value>https://gitee.com/KiyanYang/HashTool/raw/main/LatestVersion.xml</value>
            </setting>
        </HashTool.Properties.Settings>
    </applicationSettings>
</configuration>